<!-- extend from base layout -->
{% extends "base.html" %}

{% block title %}首页{% endblock %}
 
{% block content %}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">Home</a>
            </li>
        </ul><!-- .breadcrumb -->
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12 center">
                <h1>万协云商数据库运维平台<h1>
                <h4>维护人: 陈&nbsp;&nbsp;&nbsp;&nbsp;浩<h4>
                <h4>QQ: 275258836<h4>
                <h4>联系电话: 15396242917<h4>
            </div>
            <div class="col-xs-12 center">
            <<欢迎大家, 向本人提出宝贵意见和建议, 从而完善我们的数据库运维系统.>>
            </div>
        </div>
    </div>
</div>

{% endblock %}
