<!-- extend from base layout -->
{% extends "base.html" %}

{% block title %}首页{% endblock %}
 
{% block content %}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">Home</a>
            </li>
        </ul><!-- .breadcrumb -->
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12 center">
                <h1>万协云商数据库运维平台<h1>
                <h4>维护人: 陈&nbsp;&nbsp;&nbsp;&nbsp;浩<h4>
                <h4>QQ: 275258836<h4>
                <h4>联系电话: 15396242917<h4>
            </div>
            <div class="col-xs-12 center">
            欢迎大家, 向本人提出宝贵意见和建议, 从而完善我们的数据库运维系统.<br />
            同时也欢迎大家一起来完善该系统, 可以执行下载项目源码进行修改.<br />
            项目地址: <a href="https://github.com/daiguadaidai/inception_web_new">https://github.com/daiguadaidai/inception_web_new</a><br />
            Beautiful is better than ugly. <br />
            Explicit is better than implicit. <br />
            Simple is better than complex. <br />
            Complex is better than complicated. <br />
            Flat is better than nested. <br />
            Sparse is better than dense. <br />
            Readability counts. <br />
            Special cases aren't special enough to break the rules. <br />
            Although practicality beats purity. <br />
            Errors should never pass silently. <br />
            Unless explicitly silenced. <br />
            In the face of ambiguity, refuse the temptation to guess. <br />
            There should be one-- and preferably only one --obvious way to do it. <br />
            Although that way may not be obvious at first unless you're Dutch. <br />
            Now is better than never. <br />
            Although never is often better than *right* now. <br />
            If the implementation is hard to explain, it's a bad idea. <br />
            If the implementation is easy to explain, it may be a good idea. <br />
            Namespaces are one honking great idea -- let's do more of those! <br />
            </div>
        </div>
    </div>
</div>

{% endblock %}
