{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}SQL语法审核系统{% endblock %}
{% block content %}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/ldapconfig">运维工具</a>
            </li>
            <li class="active">SQL语法审核系统</li>
        </ul><!-- .breadcrumb -->
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-content">
                    <div class="page-header h3 text-primary">
                        <i class="icon-eye-open"></i>
                        任务详情
                    </div>
                    <div class="row">
                        <div class="">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    正在执行的任务详情({{ percent['SQLSHA1'] }})
                                    <button class="btn btn-xs pull-right" id="reload_processlist">
                                        <i class="icon-refresh"></i>
                                    </button>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <th>数据库名</th>
                                            <th>表名</th>
                                            <th>sha1哈希值</th>
                                            <th>进度(%)</th>
                                            <th>预计时间(min)</th>
                                            <th>操作</th>
                                        </tr>
                                        {% if percent %}
                                        <tr>
                                            <td>{{ percent['DBNAME'] }}</td>
                                            <td>{{ percent['TABLENAME'] }}</td>
                                            <td><code>{{ percent['SQLSHA1'] }}</code></td>
                                            <td><code>{{ percent['PERCENT'] }}%</code></td>
                                            <td><code>{{ percent['REMAINTIME'] }}</code></td>
                                            <td>
                                                <button class="btn btn-danger btn-xs" onclick="inception_task_stop('{{ percent['DBNAME'] }}', '{{ percent['TABLENAME'] }}', '{{ percent['SQLSHA1'] }}')" title="停止">
                                                    <i class="icon-off"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>详细信息:</th>
                                            <th colspan='5'><pre>{{ percent['INFOMATION'] }}</pre></th>
                                        </tr>
                                        {% endif %}
                                    </table>
                                    {% if pagination %}
                                    <tr>
                                        <div class="dataTables_paginate paging_bootstrap">
                                            <div class="panel-footer"></div>
                                            {{ macros.pagination_widget(pagination, '.servers') }}
                                        </div>
                                    </tr>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customer_script %}
<script type="text/javascript">
$(document).ready(function(){
    $("#reload_processlist").click(function() {
        window.location.reload();
    });
});

// 查看 Inception 任务详细信息
function inception_task(sqlsha1) {
    location.href = "/inception/inception_task?sqlsha1=" + sqlsha1;
}

// 停止 Inception 任务
function inception_task_stop(db_name, table_name, sqlsha1) {
    bootbox.confirm({
        buttons: {
            confirm: {
                label: '停止',
                className: 'btn-danger'
            },
            cancel: {
                label: '取消',
                className: 'btn-default'
            }
        },
        message: "<h2>是否需要停止该任务?<h2>",
        callback: function(result) {
            if(result) { // 确认停止后使用Ajax停止任务, 之后刷新本业
                $.ajax({
                    url: "/inception/inception_task_stop",
                    type: "POST",
                    dataType: "json",
                    data: {
                        sqlsha1: sqlsha1
                    }
                }).done(function(data) {
                    message = '';
                    title = '';
                    if(data['is_ok'] == true) {
                       title = '停止成功';
                       message += "<h3><i class='icon-ok'></i>停止成功</h3>";
                       message += "请复制下面SQL, 并依次执行以下SQL:";
                       message += "<pre>";
                       message += "DROP TRIGGER " + db_name + ".pt_osc_" + db_name + "_" + table_name + "_ins;\n";
                       message += "DROP TRIGGER " + db_name + ".pt_osc_" + db_name + "_" + table_name + "_upd;\n";
                       message += "DROP TRIGGER " + db_name + ".pt_osc_" + db_name + "_" + table_name + "_del;\n";
                       message += "DROP TABLE " + db_name + "._" + table_name + "_new;\n";
                       message += "</pre>";
                    } else {
                       title = '停止失败';
                       message = "<h3><i class='icon-remove'></i>停止失败</h3>";
                       message += "<code>";
                       message += data["result"];
                       message += "</code>";
                    }

                    bootbox.alert({
                        buttons: {
                           ok: {
                                label: '关闭',
                                className: 'btn-primary'
                            }
                        },
                        message: message,
                        title: title,
                        callback: function() {
                            location.href = "/inception/inception_task_list";
                        }, 
                    });
                });
            }
        },
        title: "停止任务",
    });
}
</script>
{% endblock %}
